.container {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 2rem;
  /* margin-top: 105px; */
  /* background-color: red; */
}
.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
}
.wrapper > img {
  width: 30rem;
  position: absolute;
  bottom: 0;
  top: 0;
}
.blueCircle {
  width: 25rem;
  height: 25rem;
  z-index: -99;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  top: 0;
  background: linear-gradient(135.74deg, #0bb5ff 14.09%, #6dd3fe 83.81%);
}
.cart2 {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 25%;
  right: 5%;
  align-items: center;
}
.cart2 > svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid var(--black);
  padding: 10px;
  background: white;
}
.signup {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: white;
  border-radius: 15px;
  box-shadow: var(--shadow1);
  padding: 10px;
  font-size: 0.8rem;
}
.signup :first-child {
  display: block;
  width: 6rem;
}
.signup :nth-child(2) {
  border: 1px solid skyblue;
  border-radius: 50%;
  display: flex;
  height: 20px;
  width: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.h_sides {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.text1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  width: min-content;
  font-weight: 600;
}
.text2 {
  display: flex;
  flex-direction: column;
  width: min-content;
  color: black;
}
.text2 :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
.text2 :nth-child(2) {
  display: block;
  z-index: 9999;
}
.traffic {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.traffic :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
.customers {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.customers :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}
@media screen and (max-width: 740px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .blueCircle {
    position: absolute;
    width: 20rem;
    height: 20rem;
  }
  .wrapper > img {
    width: 20rem;
    top: 3rem;
  }
  .text1,
  .text2 > span:nth-of-type(2) {
    font-size: 0.9rem;
    text-align: justify;
  }
  .text2 > span:nth-of-type(2) {
    text-align: left;
    width: 7.8rem;
  }
  .cart2 {
    bottom: 1rem;
  }
  .traffic :first-child,
  .text2 :first-child,
  .customers :first-child {
    font-size: 2rem;
  }
  .container > :nth-child(3) {
    width: 200%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.3rem;
  }
  .traffic {
    text-align: center;
  }
  .customers {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .blueCircle {
    position: absolute;
    width: 17rem;
    height: 17rem;
  }
  .wrapper > img {
    width: 17rem;
    /* top: 4rem; */
  }
  .cart2 {
    /* top: 8rem; */
    top: 15rem;
  }
}
@media screen and (max-width: 498px) {
  .text2 :first-child {
    font-weight: 800;
    font-size: 1.4rem;
  }
  .blueCircle {
    position: absolute;
    width: 14rem;
    height: 14rem;
  }
  .wrapper > img {
    width: 14rem;
    /* top: 4rem; */
  }
  .cart2 {
    top: 8rem;
  }
  .cart2 > svg {
    width: 20px;
    height: 20px;
  }
  .signup {
    padding: 8px;
  }
  .signup :first-child {
    width: 5rem;
  }
  .signup :nth-child(2) {
    height: 17px;
    width: 17px;
  }
}
@media screen and (max-width: 406px) {
  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .container > :nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
  }
  .container > :nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15rem;
    width: inherit;
  }
  .cart2 {
    top: 12rem;
  }
  .text2 :first-child {
    font-weight: 800;
    font-size: 1.3rem;
  }
  .text2 > span:nth-of-type(2) {
    text-align: left;
    width: 7.8rem;
  }
}
